body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

header {
    width: 100%;
    background-color: #fff;
}

.container {
    padding-left: 54px;
    padding-right: 54px;
    margin: 0 auto;
}

.navigasi {
    display: flex;
    align-items: center;
    height: 65px;   
    width: auto;
    justify-content: space-between;
}

.nav-kiri ul {
    display: flex;
}

.nav-tengah {
    display: flex;
    padding-left: 100px;
}

.nav-tengah img {
    height: 24px;
    width: 90px;
    cursor: pointer;

}

.nav-kanan ul {
    display: flex;
}

header ul li {
    padding: 0 24px 0 24px;
}

header a {
    text-decoration: none;

    color: #000;
    font-weight: 300;
}

.nav-kiri a:hover {
    border-bottom: 1px solid #000;
    border-width: 1;
}

.nav-kanan  a:hover {
    border-bottom: 1px solid #000;
}

.kesatu {
    height: 690px;
    background-image: url(./Assets/Images/bagian1.jpg);
    background-size: cover;
    background-position: center;
}

.text-kesatu {
    padding: 200px 0 20px 20px;
    display: flex;
    flex-direction: column;
}

.text-kesatu p:first-child {
    font-size: 140px; 
    color: #fff;
    font-weight: 200;
}

.text-kesatu p:last-child {
    font-size: 18px;
    color: #fff;
    font-weight: 200;
    line-height: 40px;
}

.kesatu button {
    padding:0 0 20px 20px;
    font-size: 18px;
    font-weight: 300;
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
}

.bagian2 {
    display: flex;
    position: relative;
}

.bag2-kiri {
    width: 50%;
    height: auto;
}

.bag2-kiri img {
    width: 100%;
}

.bag2-kanan {
    width: 50%;
    height: auto;
}

.bag2-kanan img {
    width: 100%;
}

.text-bag2 {
    position: absolute;
    bottom: 0;
    padding: 0 0 150px 20px;
    box-sizing: border-box;
}

.text-bag2 p:first-child {
    font-size: 80px;
    color: #fff;
    font-weight: 500;
}

.text-bag2 p:nth-child(2) {
    width: 70%;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 30px;
}

.text-bag2 button {
    font-size: 18px;
    font-weight: 200;
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

.bagian3 {
    display: flex;
}

.bag3-kiri {
    width: 50%;
}

.bag3-kiri img {
    width: 100%;
}

.bag3-kanan {
    width: 50%;
}

.bag3-kanan img {
    width: 100%;
}

.bagian4 {
    display: flex;
}

.bag4-kiri {
    width: 50%;
    background: radial-gradient(circle at top left, #47AC73, #32467B);
    padding: 140px 0 20px 0;
}

.bag4-kiri p:first-child {
    font-size: 60px;
    color: #fff;
    font-weight: 500;
    padding-left: 20px;
}

.bag4-kiri p:nth-child(2) {
    width: 80%;
    font-size: 40px;
    color: #fff;
    font-weight: 300;
    line-height: 70px;
    margin-top: 20px;
    padding-left: 20px;
}
.bag4-kiri button {
    font-size: 18px;
    font-weight: 200;
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 20px;
}

.bag4-kanan {
    width: 50%;
}

.bag4-kanan img {
    width: 100%;
}

.bagian5 {
    display: flex;
    height: auto;
    width: 100%;
    background-color: #FFF;
}

.bag5-kiri {
    width: 50%;
    background: #001A38;
    padding: 100px 0 20px 0;
}


.bag5-kiri p:first-child {
    font-size: 60px;
    color: #fff;
    font-weight: 500;
    padding-left: 20px;
}

.bag5-kiri p:nth-child(2) {
    width: 80%;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 40px;
    margin-top: 20px;
    padding-left: 20px;
}

.bag5-kiri p:nth-child(3) {
    width: 80%;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 40px;
    margin-top: 20px;
    padding-left: 20px;
}

.bag5-kiri button {
    font-size: 18px;
    font-weight: 200;
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 20px;
}

.bag5-kanan {
    width: 50%;
}

.bag5-kanan img {
    width: 100%;
    height: auto;
}

.bagian6 {
    height: 690px;
    width: 100%;
    background-image: url(./Assets/Images/bagian6.jpg);
    background-size: cover;
    background-position: center;
}

.bag6-text {
    padding: 150px 0 20px 20px;
    display: flex;
    flex-direction: column;
}

.bag6-text p:first-child {
    font-size: 80px;
    color: #fff;
    font-weight: 200;
}

.bag6-text p:last-child {
    font-size: 18px;
    color: #fff;
    font-weight: 200;
    line-height: 40px;
}

.bagian6 button {
    padding:0 0 20px 20px;
    font-size: 18px;
    font-weight: 300;
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
}

video {
    object-fit: contain;
}

.bagian8 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DCDDDE;
    padding: 70px 20px;
}

.bag8-kiri h2 {
    width: 50%;
    font-size: 40px;
    font-weight: 500;
    color: #000;
}

.bag8-kanan {
    width: 50%;
}
.bag8-kanan p {
    width: 80%;
    line-height: 40px;
    font-size: 20px;
    color: #000;
}

.bagian8 button {
    padding:0 0 20px 0;
    font-size: 18px;
    font-weight: 300;
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

.bagian9 {
    display: flex;
}

.list-baju {
    width: 25%;
}

.list-baju img {
    width: 100%;
    cursor: pointer;
}

.bagian10 {
    display: flex;
    height: auto;
    width: 100%;
}

.bag10-kanan {
    width: 50%;
    background: #DEDEDE;
    padding: 100px 0 20px 0px;
}

.bag10-kanan p:first-child {
    font-size: 60px;
    color: #000;
    font-weight: 500;
    padding-left: 20px;
}

.bag10-kanan p:nth-child(2) {
    width: 80%;
    font-size: 18px;
    color: #000;
    font-weight: 300;
    line-height: 40px;
    margin-top: 20px;
    padding-left: 20px;
}


.bagian10 button {
    font-size: 18px;
    font-weight: 200;
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 20px;
}

.bag10-kiri {
    width: 50%;
}

.bag10-kiri img {
    width: 100%;
    height: auto;
}


.bagian11 {
    display: flex;
    height: auto;
    width: 100%;
    background-color: #FFF;
}

.bag11-kiri {
    width: 50%;
    background: #325949;
    padding: 100px 0 20px 0px;
}

.bag11-kiri p:first-child {
    font-size: 60px;
    color: #fff;
    font-weight: 500;
    padding-left: 20px;
}

.bag11-kiri p:nth-child(2) {
    width: 80%;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 20px;
    margin-top: 20px;
    padding-left: 20px;
}


.bag11-kiri button {
    font-size: 18px;
    font-weight: 200;
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 20px;
}

.bag11-kanan {
    width: 50%;
}

.bag11-kanan img {
    width: 100%;
    height: auto;
}

.bagian12 {
    display: flex;
    height: auto;
    width: 100%;
}

.bag12-kanan {
    width: 50%;
    background: #DEDEDE;
    padding: 100px 0 20px 0px;
}

.bag12-kanan p {
    padding-left: 20px;
}

.bag12-kanan button {
    padding-left: 20px;
}


.bag12-kanan p:first-child {
    font-size: 40px;
    color: #000;
    font-weight: 500;
}

.bag12-kanan p:nth-child(2) {
    width: 80%;
    font-size: 18px;
    color: #000;
    font-weight: 300;
    line-height: 30px;
    margin-top: 20px;
}


.bagian12 button {
    font-size: 18px;
    font-weight: 200;
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 20px;
}

.bag12-kiri {
    width: 50%;
}

.bag12-kiri img {
    width: 100%;
    height: auto;
}

.bagian13 {
    background-color: rgb(243,243,243);
    padding: 40px;
}

.service {
    width: 25%;
    display: flex;
    justify-content: center;
}

.service-area {
    display: flex;
    min-height: 100px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.service-img {
    padding: 0 0 10px 10px;
    width: 115px;
    height: 115px;
}

.service-img img {
    width:60%;
}

.service-text p {
    line-height: 1.4em;
    cursor: pointer;
}

.service-text p:first-child {
    font-size: 20px;
}

.service-text p:nth-child(2) {
    font-size: 12px;
}

.service button {
    font-size: 13px;
    font-weight: 200;
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
    padding: 10px 0;
}

.bagian14 {
    background-color: #000;
    color: #fff;
    padding: 40px 54px;
}

.info-area {
    display: flex;
    justify-content: space-between;
}

.info-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4,auto);
    list-style: none;
    cursor: pointer;
}

.info-grid li {
    margin: 10px 10px 10px 0;
}

.info-left .title {
    margin-bottom: 15px;
    text-decoration: underline;
}

.info-text a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.info-left {
    display: flex;
}

.wrapper {
    display: flex;
}
.info-right {
    text-align: right;
}

.info-right p {
    padding-bottom: 15px;
    text-align: left;
}

.info-right input {
    height: 40px;
    border: 1px solid #fff;
    background: none;
    border-radius: 50px 0 0 50px;
    padding: 0 30px;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
}

.info-right button {
    height: 40px;
    border: 1px solid #fff;
    border-left: none;
    background: none;
    border-radius: 0 50px 50px 0;
    box-sizing: border-box;
    margin: 0;
}

.info-right button img {
    padding: 10px 13px 8px 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.containerf {
    padding:10px 54px ;
    margin: 0 auto;
}

footer {
    background-color: #fff;
    color: #000;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy-left {
    padding: 10px 0;
    font-size: 12px;
}

.copy-right img {
    padding: 0 0 0 20px;
    cursor: pointer;
}